<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd" bootstrap="vendor/autoload.php" colors="true" executionOrder="random" failOnWarning="false" failOnRisky="true" failOnEmptyTestSuite="true" cacheDirectory=".phpunit.cache">
  <testsuites>
    <testsuite name="Stubs">
      <directory suffix="Test.php">tests/Unit/Stubs</directory>
    </testsuite>
    <testsuite name="Integration">
      <directory suffix="Test.php">tests/Unit/Integration</directory>
    </testsuite>
    <testsuite name="ErrorHandling">
      <file>tests/Unit/ErrorHandlingTest.php</file>
    </testsuite>
  </testsuites>

  <source>
  <include>
    <directory suffix=".php">src</directory>
  </include>
  </source>

  <php>
    <ini name="memory_limit" value="512M" />
  </php>
</phpunit>